<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App is installed Successfully</title>
</head>
<body>
    <h3>Please Read the Below instruction first: </h3>
    <p>After this Add that section to your cart.liquid file like this: {% section 'qualtry' %} on the start of the page</p>
    <p>Now <a href="https://1b481740.ngrok.io/store_cart?type=installed&shop=<%= sendData.shop%>">Click Here..</a></p>
</body>
</html>